@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transitions */
.fade-in {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.fade-out {
  opacity: 0;
}

.slide-up {
  transform: translateY(0);
  transition: transform 300ms ease-in-out;
}

.slide-down {
  transform: translateY(20px);
}

.slide-left {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-right {
  transform: translateX(20px);
}

/* Enter animation states */
.page-enter {
  opacity: 0;
  transform: translateY(20px);
}

.page-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 300ms,
    transform 300ms;
}

/* Exit animation states */
.page-exit {
  opacity: 1;
  transform: translateY(0);
}

.page-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 300ms,
    transform 300ms;
}
